@media only screen and (min-width: 1200px) and (max-width: 1500px) {

    .header{
        width: 80vw;
    }

    .services{
        margin-top: 8rem;
    }

    .container{
        width: 80vw;
    }    

    .subscribe{
        .right-section{
            margin-left: -6rem;
        }
    }

}
  